# Unreal specific
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.opensdf
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
# Build folders
Build/
# User settings and temporary files
*.log
*.vsconfig
# macOS
.DS_Store
# Visual Studio
*.user
*.userosscache
# Unreal autosaves / backup
*.autosave
